





<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="/assets/mainpic4.jpg" style="width:100%;">
  <a class="w3-padding-large w3-blue" href="#home">
    <i class="fa fa-home w3-xxlarge animated infinite pulse"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#about">
    <i class="fa fa-user w3-xxlarge animated infinite pulse"></i>
    <p>SKILLS</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#projects">
    <i class="fa fa-eye w3-xxlarge animated infinite pulse"></i>
    <p>OVERVIEW</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#contact">
    <i class="fa fa-envelope w3-xxlarge animated infinite swing"></i>
    <p>CONTACT</p>
  </a>
  <img src="/assets/Syrian.jpg" style="width:100%;">
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <ul class="w3-navbar w3-left-align w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <li class="w3-left" style="width:25% !important"><a href="#home">HOME</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#about">SKILLS</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#projects">OVERVIEW</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#contact">CONTACT</a></li>
    
  </ul>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-center w3-black" id="home">
    <img src="/assets/hello3.gif" style="width:8%;">
    <h1 class="w3-jumbo animated flash"><span class="w3-hide-small">I'm</span> Rami Alzayat.</h1>

    <p>Computer Technician and Web Designer.</p>
    <div class="row">
      <div class="col-md-5 col-md-offset-6"><br>
        <h2 class="w3-text-light-grey">About</h2>
        <hr class="style14">
        <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>

  </header>


  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3> 
    <p class="w3-wide">Ruby on Rails</p>
    <div class="w3-progress-container">
      <div class="progress-bar progress-bar-striped active" style="width:50%"></div>
    </div><br>
    <p class="w3-wide">HTML/CSS</p>
    <div class="w3-progress-container">
      <div class="progress-bar progress-bar-striped active" style="width:91%"></div>
    </div><br>
    <p class="w3-wide">Bootstrap</p>
    <div class="w3-progress-container">
      <div class="progress-bar progress-bar-striped active" style="width:90%"></div>
    </div><br>
    <p class="w3-wide">JavaScript</p>
    <div class="w3-progress-container">
      <div class="progress-bar progress-bar-striped active" style="width:30%"></div>
    </div><br>
    


    <div class="w3-row w3-center w3-padding-16 w3-section" style="background:#222">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">11+</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">50+</span><br>
        Meetings
      </div>
    </div><br>


    <div class="col-xs-12 w3-padding-64" id="projects">
      <h3 class="w3-text-light-grey">Education and Training</h3><br>

      <div class="col-md-6">
        <img src="/assets/school.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-margin-right">
          High School.</span>  Al-Sahafa School.</p>
          <p>graduated with <a href="highschool.pdf" class="w3-text-blue" target="_blank">certificate.</a></p><br>

          <img src="/assets/ror.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
          <p><span class="w3-large w3-margin-right">// Refugees on Rails.</span> Berlin.</p>
          <p>Web Development <a href="ROR_certificate_RA.jpg" class="w3-text-blue" target="_blank">Course.</a></p><br>
          <!-- End About Section -->  
        </div>

        <div class="col-md-6">
          <img src="/assets/NetworkPlus.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
          <p><span class="w3-large w3-margin-right">New Horizons Center.</span>Syria,Damascus.</p>
          <p>Comptia a+ <a href="aplus.pdf" class="w3-text-blue" target="_blank">Certification</a> Course.</p><br>

          <img src="/assets/Aplus.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
          <p><span class="w3-large w3-margin-right">New Horizons Center.</span>Syria,Damascus.</p>
          <p>Comptia Network+ <a href="networkplus.pdf" class="w3-text-blue" target="_blank">Certification</a> Course.</p><br>
          <!-- End About Section -->
        </div>
      </div>

      <!-- Grid for pricing tables -->
      <div class="w3-row-padding w3-padding-64">
        <h3 class="w3-text-light-grey"><img src="/assets/status.gif" width="3%" height="auto"> My Projects</h3><br>
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Nuts and Tea</li>
            <li class="w3-padding-16">Web Site</li>
            <img src="/assets/nutsandteascreen2.jpg" style="width:100%">
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-btn w3-white w3-padding-large w3-hover-black">Soon !</button>
            </li>
          </ul>
        </div>

        <div class="w3-half">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Splash Page</li>
            <li class="w3-padding-16">Marketing Page</li>
            <img src="/assets/splash.jpg" style="width:100%">
            <li class="w3-light-grey w3-padding-24">
              <a type="button" href="http://www.nutsandtea.tk/" value="Visit Page" target="_blank" class="w3-btn w3-white w3-padding-large w3-hover-black">Visit Page</a>
            </li>
          </ul>
        </div>
        <!-- End Grid/Pricing tables -->
      </div>

      <!-- Testimonials -->
    </div>

    <!-- Portfolio Section -->
    <div class="w3-padding-64 w3-content">
      <h2 class="w3-text-light-grey">Languages</h2>
      <hr style="width:200px" class="w3-opacity">

      <!-- Grid for photos -->
      <div class="row" style="margin:0 -16px">

        <div class="row">
          <div class="col-md-6">
          <div class="col-md-6"><img src="/assets/Saudi-Arabia.jpg"></div>
          <h5><span class="label label-default">Mother Tongue</span></h5></div>
        </div><br>

<div class="row">
          <div class="col-md-6">
          <div class="col-md-6"><img src="/assets/United-Kingdom.jpg"></div>
          <h5><span class="label label-default">fluent</span></h5></div>
        </div><br>
        <!-- End photo grid -->
        <div class="row">
          <div class="col-md-6">
          <div class="col-md-6"><img src="/assets/Germany.jpg"></div>
          <h5><span class="label label-default">Intermediate (B1)</span></h5></div>
        </div>

      </div>
      <!-- End Portfolio Section -->
    </div>

    <!-- Contact Section -->
    <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
      <h2 class="w3-text-light-grey">Contact Me</h2>
      <hr style="width:200px" class="w3-opacity">

      <div class="pull-right iframe-container" id="map"></div>

      <script>
        function myMap() {
          var mapCanvas = document.getElementById("map");
          var mapOptions = {
            center: new google.maps.LatLng(52.481086, 13.427498),
            zoom: 15
          }
          var map = new google.maps.Map(mapCanvas, mapOptions);
        }
        
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyBzpjic8MihxhnJtWmGHKlmmRMVjcVxMdU"></script>



      <div class="w3-section">
        <p class="w3-hover-text-white"><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Berlin, DE</p>
        <p class="w3-hover-text-white"><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +49 1575 7597 869</p>
        <p class="w3-hover-text-white"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: Ramy.za.rr@gmail.com</p>
        <p class="w3-hover-text-white"><i class="fa fa-file-pdf-o fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i><a href="rami_cv.pdf" class="w3-text-blue" target="_blank">Get My Cv</a></p>
        



      </div><br>


      <!-- End Contact Section -->
    </div>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      <a href="https://www.facebook.com/ramy.ramboo" target="_blank" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
      <a href="https://plus.google.com/u/1/109490711832390739311" target="_blank"  class="w3-hover-text-red"><i class="fa fa-google-plus"></i></a>
      <a href="https://www.linkedin.com/in/ramy-al-zayat-373a7086?trk=hp-identity-photo" target="_blank" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/ramyalzayat" target="_blank" class="w3-hover-text-green"><i class="fa fa-github"></i></a>
      <p class="w3-medium">Powered by <a href="#home" class="w3-hover-text-green">Rami</a></p>
      <!-- End footer -->
    </footer>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86411192-1', 'auto');
  ga('send', 'pageview');

</script>
    <!-- END PAGE CONTENT -->
  </div>


