<!DOCTYPE html>
<html>
<head>
  <title>Rami Alzayat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <meta property="og:locale" content="en_US"/>

  <meta property="og:title" content="Rami Alzayat Cv" />
 
  <meta property="og:type" content="Website" />

  <meta property="og:site_name" content="Rami">

  <meta property="og:description"        content="Hello I'm Rami Alzayat and here is my WebCV." />

  <meta property="og:url" content="http://www.alzayat.de/" />

  <meta property="og:image" content="http://www.alzayat.de/assets/socialmedia.jpg" />
															  
  <meta name="description" content="Hello I'm Rami Alzayat and here is my WebCV.">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Eagle+Lake" rel="stylesheet">


  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

  


</head>
<body>

<%= yield %>

</body>
</html>


